
.carousel-item {
    text-align: center;
  }
  
.carousel-indicators {
    bottom: -20px;
}

.project-text {
    margin:10px;
}

.carousel-control-next, .carousel-control-prev {
    background-color: rgba(0,0,1,0.67);
    margin-bottom: 82px;
}